host = "127.0.0.1"
port = 8080
log_level = "debug"
google_client_id = ""
google_client_secret = ""
jwt_secret = ""
compress = true
cookie_secure = false

[redis]
host = "127.0.0.1"
port = 6379
password = ""
db = 0

app_base_url = "http://localhost:5173"

[smtp]
host = ""
port = 587
username = ""
password = ""
from_address = "noreply@example.com"
